@font-face {
  font-family: 'icomoon';
  src:  url('fonts2/icomoon.eot?v984n');
  src:  url('fonts2/icomoon.eot?v984n#iefix') format('embedded-opentype'),
    url('fonts2/icomoon.ttf?v984n') format('truetype'),
    url('fonts2/icomoon.woff?v984n') format('woff'),
    url('fonts2/icomoon.svg?v984n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-real_1:before {
  content: "\e900";
}
.icon-real_2:before {
  content: "\e901";
}
.icon-real_3:before {
  content: "\e902";
}
.icon-real_4:before {
  content: "\e903";
}
.icon-real_5:before {
  content: "\e904";
}
.icon-real_6:before {
  content: "\e905";
}
.icon-real_7:before {
  content: "\e906";
}
.icon-real_8:before {
  content: "\e907";
}
.icon-real_9:before {
  content: "\e908";
}
.icon-real_10:before {
  content: "\e909";
}
.icon-real_11:before {
  content: "\e90a";
}
.icon-real_12:before {
  content: "\e90b";
}
.icon-real_13:before {
  content: "\e90c";
}
.icon-real_14:before {
  content: "\e90d";
}
.icon-real_15:before {
  content: "\e90e";
}
.icon-real_16:before {
  content: "\e90f";
}
.icon-real_17:before {
  content: "\e910";
}
.icon-real_18:before {
  content: "\e911";
}
.icon-real_19:before {
  content: "\e912";
}
.icon-real_20:before {
  content: "\e913";
}
.icon-real_21:before {
  content: "\e914";
}
.icon-real_22:before {
  content: "\e915";
}
.icon-real_23:before {
  content: "\e916";
}
.icon-real_24:before {
  content: "\e917";
}
.icon-real_25:before {
  content: "\e918";
}
.icon-real_26:before {
  content: "\e919";
}
.icon-real_27:before {
  content: "\e91a";
}
.icon-real_28:before {
  content: "\e91b";
}
.icon-real_29:before {
  content: "\e91c";
}
.icon-real_30:before {
  content: "\e91d";
}
.icon-real_31:before {
  content: "\e91e";
}
.icon-real_32:before {
  content: "\e91f";
}
.icon-real_33:before {
  content: "\e920";
}
.icon-real_34:before {
  content: "\e921";
}
.icon-real_35:before {
  content: "\e922";
}
.icon-real_36:before {
  content: "\e923";
}
.icon-real_37:before {
  content: "\e924";
}
.icon-real_38:before {
  content: "\e925";
}
.icon-real_39:before {
  content: "\e926";
}
.icon-real_40:before {
  content: "\e927";
}
.icon-real_41:before {
  content: "\e928";
}
.icon-real_42:before {
  content: "\e929";
}
.icon-real_43:before {
  content: "\e92a";
}
.icon-real_44:before {
  content: "\e92b";
}
.icon-real_45:before {
  content: "\e92c";
}
.icon-real_46:before {
  content: "\e92d";
}
.icon-real_47:before {
  content: "\e92e";
}
.icon-real_48:before {
  content: "\e92f";
}
.icon-real_49:before {
  content: "\e930";
}
.icon-real_50:before {
  content: "\e931";
}
.icon-real_51:before {
  content: "\e932";
}
.icon-real_52:before {
  content: "\e933";
}
.icon-real_53:before {
  content: "\e934";
}
.icon-real_54:before {
  content: "\e935";
}
.icon-real_55:before {
  content: "\e936";
}
.icon-real_56:before {
  content: "\e937";
}
.icon-real_57:before {
  content: "\e938";
}
.icon-real_58:before {
  content: "\e939";
}
.icon-real_59:before {
  content: "\e93a";
}
.icon-real_60:before {
  content: "\e93b";
}
.icon-real_61:before {
  content: "\e93c";
}
.icon-real_62:before {
  content: "\e93d";
}
.icon-real_63:before {
  content: "\e93e";
}
.icon-real_64:before {
  content: "\e93f";
}
.icon-real_65:before {
  content: "\e940";
}
.icon-real_66:before {
  content: "\e941";
}
.icon-real_67:before {
  content: "\e942";
}
.icon-real_68:before {
  content: "\e943";
}
.icon-real_69:before {
  content: "\e944";
}
.icon-real_70:before {
  content: "\e945";
}
.icon-real_71:before {
  content: "\e946";
}
.icon-real_72:before {
  content: "\e947";
}
.icon-real_73:before {
  content: "\e948";
}
.icon-real_74:before {
  content: "\e949";
}
.icon-real_75:before {
  content: "\e94a";
}
.icon-real_76:before {
  content: "\e94b";
}
.icon-real_77:before {
  content: "\e94c";
}
.icon-real_78:before {
  content: "\e94d";
}
.icon-real_79:before {
  content: "\e94e";
}
.icon-real_80:before {
  content: "\e94f";
}
.icon-real_81:before {
  content: "\e950";
}
.icon-real_82:before {
  content: "\e951";
}
.icon-real_83:before {
  content: "\e952";
}
.icon-real_84:before {
  content: "\e953";
}
.icon-real_85:before {
  content: "\e954";
}
.icon-real_86:before {
  content: "\e955";
}
.icon-real_87:before {
  content: "\e956";
}
.icon-real_88:before {
  content: "\e957";
}
.icon-real_89:before {
  content: "\e958";
}
.icon-real_90:before {
  content: "\e959";
}
.icon-real_91:before {
  content: "\e95a";
}
.icon-real_92:before {
  content: "\e95b";
}
.icon-real_93:before {
  content: "\e95c";
}
.icon-real_94:before {
  content: "\e95d";
}
.icon-real_95:before {
  content: "\e95e";
}
.icon-real_96:before {
  content: "\e95f";
}
.icon-real_97:before {
  content: "\e960";
}
.icon-real_98:before {
  content: "\e961";
}
.icon-real_99:before {
  content: "\e962";
}
.icon-real_100:before {
  content: "\e963";
}
.icon-real_101:before {
  content: "\e964";
}
.icon-real_102:before {
  content: "\e965";
}
.icon-real_103:before {
  content: "\e966";
}
.icon-real_104:before {
  content: "\e967";
}
.icon-real_105:before {
  content: "\e968";
}
.icon-real_106:before {
  content: "\e969";
}
.icon-real_107:before {
  content: "\e96a";
}
.icon-real_108:before {
  content: "\e96b";
}
.icon-real_109:before {
  content: "\e96c";
}
.icon-real_110:before {
  content: "\e96d";
}
.icon-real_111:before {
  content: "\e96e";
}
.icon-real_112:before {
  content: "\e96f";
}
.icon-real_113:before {
  content: "\e970";
}
.icon-real_114:before {
  content: "\e971";
}
.icon-real_115:before {
  content: "\e972";
}
.icon-real_116:before {
  content: "\e973";
}
.icon-real_117:before {
  content: "\e974";
}
.icon-real_118:before {
  content: "\e975";
}
.icon-real_119:before {
  content: "\e976";
}
.icon-real_120:before {
  content: "\e977";
}
