// Colors
// =================================================
$white: #fff;
$primary: #d99f6c;

$radius: 0;
$radius-large: 0;
$radius-small: 0;


$navbar-height: 5rem;
$navbar-item-hover-background-color: transparent;
$navbar-item-img-max-height: 3.25rem;
.hero.is-primary a.navbar-item:hover{
  background: transparent !important;
}