.footer-widget {
  padding: 15px;
  color: white;
  @apply text-golden;

  .footer-widget-title {
    font-size: 18px;
    font-weight: bold;
  }


  li.current-menu-item {
    text-decoration: none;
    border: none;

    a {
      text-decoration: underline;
    }
  }
}

.article-sidebar{
  h2{
    @apply text-golden font-serif text-2xl;
  }
}